# Prerequisites
*.d
.vscode/*
python/deprecated/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/*
build/*
deps/*
__pycache__/*

output/

.metals/
.bsp/
.scala-build/
log/1230.txt
log/log.txt
.aider.tags.cache.v3/54/be/d2e495da0968937ed29865992279.val
.aider.tags.cache.v3/48/05/aee4272894417218316bf443e856.val
.aider.tags.cache.v3/2b/f4/092853136d9b9d1c2d30df73f122.val
.aider.tags.cache.v3/cache.db
.aider.input.history
.aider.chat.history.md
